# Copyright (C) 2023, Ava Labs, Inc. All rights reserved.
# See the file LICENSE for licensing terms.

name: Run Golang Linter

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  golangci:
    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
          submodules: recursive

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Install buf
      uses: bufbuild/buf-setup-action@v1.31.0
      with:
        github_token: ${{ github.token }}

    - name: Run Lint
      run: ./scripts/lint.sh --go-lint

    - name: Ensure protobuf changes are checked in
      run: |
        scripts/protobuf_codegen.sh
        git update-index --really-refresh >> /dev/null
        git diff-index HEAD # to show the differences
        git diff-index --quiet HEAD || (echo 'protobuf generated code changes have not all been checked in' && exit 1)
