# Copyright (C) 2023, Ava Labs, Inc. All rights reserved.
# See the file LICENSE for licensing terms.

name: Tests

on:
  push:
    branches:
      - "**"

jobs:
  test_relayer:
    name: Unit tests
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout awm-relayer repository
        uses: actions/checkout@v4
        
      - name: Set Go version
        run: |
          source ./scripts/versions.sh
          GO_VERSION=$GO_VERSION >> $GITHUB_ENV
          
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run Relayer Unit Tests
        run: ./scripts/test.sh
